<!-- Esse é nosso componente principal, aqui chamamos os outros componentes -->
<exp-header></exp-header>

<!-- Adicionando mais propriedades -->
<!-- Fazemos o binding em isJedi pois ele é um atributo de retorno boolean e não string 
<exp-student name="Luke" [isJedi]="true"></exp-student>
<exp-student name="Han Solo" [isJedi]="false"></exp-student>
<exp-student name="Leia" [isJedi]="false"></exp-student> -->

<exp-student [student]="luke"></exp-student>
<exp-student [student]="han"></exp-student>
<exp-student [student]="leia"></exp-student>

<!-- Utilizamos a diretiva *ngFor para iterar nosso array de students -->
<!-- Damos um nome para a variável no caso let >> Passamos o nome do array no nosso arquivo .ts -->
<!-- A cada iteração ele cria uma variável student onde vc pode ter uma referência para os items -->
<exp-student *ngFor="let student of students" [student]="student"></exp-student>